# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Rust
/target
*.swp
*.swo

# Mailerboi user config (not tracked, use examples/ as template)
~/.config/mailerboi/credentials.toml

# Sisyphus
.sisyphus
